#container{
    background-image: url("image/crystal-5120x2880-8k-4k-5k-wallpaper-lightning-ball-12001.jpg");
    width: 30%;
    height: 700px;
    margin: auto;
    padding: 60px;
}
#topLeft{
    display: inline;
    width: 49.2%;
    height: 40%;
    border-top: 5px solid yellow;
    border-left: 5px solid yellow;
    float: left;
    background-color: white;
    opacity: 0.4;
}
#topRight{
    display: inline;
    float: right;
    width: 49.2%;
    height: 40%;
    opacity: 0.1;
}
#bottomLeft{
    width: 50%;
    height: 40%;
    float: left;
    display: inline;
    opacity: 0.4;
    background-color: white;
}

#bottomRight{
    width: 48%;
    height: 40%;
    float: right;
    border-right: 5px solid orangered;
    border-bottom: 5px solid orangered;
}
h1{
    color: black;
    margin-left: 20px;
    margin-top: 250px;
}

#testTxt{
    width: 90%;
    height: 20%;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 20px;
}
#zeroOne{
    position: absolute;
    font-size: 250px;
    font-weight: bold;
    margin-left: 165px;
    margin-top: 100px;
    color: white;
    opacity: 0.3;
    animation: example .5s linear infinite;
    animation-play-state: paused;
}

#container:hover #mybtn{
    display: inline;
}

#container:hover #zeroOne{
    animation-play-state: running;
}
#mybtn{
    width: 50%;
    height: 15%;
    color: black;
    margin-left: 25px;
    margin-top: 90px;
    display: none;
}

@keyframes example {
    100% {transform: translateY(-50%);}
}